body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    overflow-x: hidden;
}

:root{
    --bg-color-main: #03001C;
    --bg-color-sub1: #301E67;
    --bg-color-sub2: #5B8FB9;
    --bg-color-sub3: #B6EADA;
    --heading-text: 5rem;
    --subtext: 3rem;
    --bg-gradient: linear-gradient(180deg, rgba(48, 30, 103, 1) 0%, rgba(12, 53, 106, 1) 50%, rgba(39, 158, 255, 0.5) 100%);
}

main{
    display: flex;
    flex-flow: column;
}




.flex{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}




  
section.hero-banner{
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
}

.wave-separator img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.gradient-bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 300%;
    background-image: var(--bg-gradient);
    animation: gradient-effect 10s alternate infinite;
    z-index: -10;
}

@keyframes gradient-effect {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-50%);
    }
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 15rem 3rem;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    flex-flow: row wrap;
    gap: 1rem;
}

.wrapper > * {
    min-width: 40%;
    width: 450px;
    height: auto;
}

.hero-image-container{
    border: #555555 0px solid;
    box-shadow: 0px 0px 10px 5px #03001C;
    animation: border-animation 10s linear infinite;
    overflow: hidden;
    box-sizing: border-box;
    margin: 5rem 0;
}

.hero-image-container img{
    width: 100%;
    height: 100%;
}


                          
@keyframes border-animation {
    0%{
        border-radius: 39% 61% 45% 55% / 47% 56% 44% 53%;
    }
    20%{
        border-radius: 64% 36% 56% 44% / 42% 64% 36% 58% ;
    }
    40%{
        border-radius: 43% 57% 70% 30% / 52% 51% 49% 48% ;
    }
    60%{
        border-radius: 68% 32% 44% 56% / 54% 57% 43% 46% ; 
    }
    80%{
        border-radius: 58% 42% 52% 48% / 66% 58% 42% 34%; 
    }
    100%{
        border-radius: 39% 61% 45% 55% / 47% 56% 44% 53%;
    }
    
}


.glass-container{
    overflow: hidden;
    padding: 2rem 2rem;
    box-sizing: border-box;
    background: rgba( 182, 234, 218, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
}



#typewriter{
    text-wrap: wrap;
    border-right: 3px solid #190c8d;
    animation: type 1s infinite ease;
    overflow: hidden;
}

 @keyframes type {
    0%{
        border-right: 3px solid #190c8d;
    }
    25%{
        border-right: 0px;
    }
    50%{
        border-right: 3px solid #190c8d;
    }
    75%{
        border-right: 0px;
    }
    100%{
        border-right: 3px solid #190c8d;
    }

}





.contact-info{ 
    text-align: center;
    width: 100vw;
    height: auto;
    background-color:#ECF4D6;
    box-sizing: border-box;
    padding: 1rem 2rem 3rem 2rem;
}

.contact-info > ul{
    list-style: none;
    list-style-type: none;
    gap: 2rem;
    padding: 1.5rem 0;
}


.contact-icons > li > a > img{
    width: 50px;
    height: 50px;
}

.contact-icons > li:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;

}

.bn60 {
    background-color: #190c8d;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 55px;
    width: 160px;
    filter: drop-shadow(0px 15px 5px rgba(0, 0, 0, 0.5));
    transform: translateY(-3px);
    transition: all 0.5s ease;
  }

  .bn60:hover{
    transform: translateY(-1.5px);
    filter: drop-shadow(0px 7.5px 2.5px rgba(0, 0, 0, 0.5));
  }
  .bn60:active{
    transform: translateY(0px);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
  }





  .skills{
    width: 100%;
    height: auto;
    background-color: #FF8C32;
    overflow: hidden;
    isolation: isolate;
    color: white;
    
  }


  .first-container, .second-container, .third-container{
    width: 100%;
    height: 60vh;
    position: relative;
    box-sizing: border-box;
    padding: 1rem 0;
  }

  .first-container::before{
    content: '';
    background-color: #06113C;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewY(5deg);
    z-index: -1;
  }

  .third-container::after{
    content: '';
    background-color: #06113C;
    position: absolute;
    top: 0;
    bottom: -300px;
    left: 0;
    right: 0;
    transform: skewY(-5deg);
    z-index: -1;
  }

  .second-container::before{
    content: '';
    background-color: #FF8C32;
    position: absolute;
    inset: 0;
    z-index: -2;
  }

  .skills > *{
    display: flex;
    align-items: center;
  }

  .skills > *:nth-child(2), .skills > *:nth-child(4){
    justify-content: flex-end;
  }
  
  .skills h1{
    justify-content: center;
  }

  .skills-content{
    flex-flow: column wrap;
    display: flex;
    margin: 0 2rem 0 auto;
  }

  .skills-content-left{
    flex-flow: column wrap;
    display: flex;
    margin: 0 auto 0 2rem;
  }


.footer{
    background-color: black;
    color: #B6EADA;

}


/* .glass-container h2, .glass-container span{
    width: max-content;
    height: auto;
} */ 

@media only screen (max-width: 500px) {
    .wrapper{ 
        padding: 2rem 1rem 15rem 1rem;
    }
}