body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: white;
    overflow-x: hidden;
}

/* font-family: 'Kalnia', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

:root{
    --bg-color-main: #03001C;
    --bg-color-sub1: #301E67;
    --bg-color-sub2: #5B8FB9;
    --bg-color-sub3: #B6EADA;
    --heading-text: 5rem;
    --subtext: 3rem;
    --bg-gradient: linear-gradient(to left top, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
    --bg-gradient2: linear-gradient(135deg, #0c134f, #1D267D, #5C469C);
}

main{
    display: flex;
    flex-flow: column;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}

span{
    font-family: 'Kalnia', serif;
    font-size: 2em;
}

p, li{
    font-family: 'Open Sans', sans-serif
}


.flex{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


nav{
    background-color: #ECF4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: auto;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}

nav ul li{
    padding: 1rem 1rem;
    box-sizing: border-box;
}

nav ul li:hover{
    background-color: black;
    & a{
        color: white;
        text-shadow: -0.5px 0.5px white;
    }
}

  
.hero-banner{
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
}

.gradient-bg{
    position: absolute;
    inset: 0;
    background: var(--bg-gradient2);
    background-size: 300%;
    width: 100vw;
    min-height: 100%;
    background-repeat: no-repeat;
    animation: gradient-effect 5s alternate infinite;
    z-index: -1;
}

@keyframes gradient-effect {
    0%{
        background-position: left;
    }
    100%{
        background-position: bottom;
    }
}

.wrapper{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    padding: 7.5rem 2rem 10rem 2rem;
}

/* .hero-image-container{
    width: 30%;
    min-width: 20%;
    flex: 0 1 auto;
    border: #301E67 0px solid;
    box-shadow: 0px 0px 10px 5px #0F044C;
    animation: border-animation 10s linear infinite;
    overflow: hidden;
    box-sizing: border-box;
    margin: 5rem 0;
} */

/* .hero-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* 
                          
@keyframes border-animation {
    0%{
        border-radius: 39% 61% 45% 55% / 47% 56% 44% 53%;
    }
    20%{
        border-radius: 64% 36% 56% 44% / 42% 64% 36% 58% ;
    }
    40%{
        border-radius: 43% 57% 70% 30% / 52% 51% 49% 48% ;
    }
    60%{
        border-radius: 68% 32% 44% 56% / 54% 57% 43% 46% ; 
    }
    80%{
        border-radius: 58% 42% 52% 48% / 66% 58% 42% 34%; 
    }
    100%{
        border-radius: 39% 61% 45% 55% / 47% 56% 44% 53%;
    }
    
} */


.glass-container{
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
    color: #ffffff;
    text-shadow: 1px 1px #072541;
    width: 100%;
    min-width: 40%;
}

.glass-container > *{
    flex: 1 1 auto;
}

.glass-container > a{ 
    text-decoration: none;
}


#typewriter{
    text-wrap: wrap;
    border-right: 3px solid white;
    animation: type 1s infinite ease;
    overflow: hidden;
}

 @keyframes type {
    0%{
        border-right: 3px solid white;
    }
    25%{
        border-right: 3px solid transparent;
    }
    50%{
        border-right: 3px solid white;
    }
    75%{
        border-right: 3px solid transparent;
    }
    100%{
        border-right: 3px solid white;
    }

}

.wave-separator img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}



.wave-separator2 img{
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.contact-info{ 
    position: relative;
    text-align: center;
    width: 100vw;
    height: auto;
    background-color:#ECF4D6;
    box-sizing: border-box;
    padding: 10rem 2rem 0.5rem 2rem;
    font-size: 2rem;
}

.contact-info p{
    display: block;
    font-size: 1rem;
    margin: 0 0 0 auto;
    width: max-content;
}

.contact-info > ul{
    list-style: none;
    list-style-type: none;
    gap: 2rem;
    padding: 1.5rem 0;
}


.contact-icons > li > a > img{
    width: 50px;
    height: 50px;
}

.contact-icons > li:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;

}

.button {
    background-color: #03001C;
    color: #EEEEEE;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 55px;
    width: 160px;
    margin: 1.5rem 0rem 0rem 1.5rem;
    filter: drop-shadow(0px 10px 5px rgba(221, 221, 221, 0.5));
    transform: translateY(-3px);
    transition: all 0.5s ease;
  }

  .button:hover{
    transform: translateY(-1.5px);
    filter: drop-shadow(0px 5px 2.5px rgba(221, 221, 221, 0.5));
  }
  .button:active{
    transform: translateY(0px);
    filter: drop-shadow(0px 1px 1px rgba(221, 221, 221, 0.5));
  }





  .skills{
    width: 100vw;
    height: auto;
    background-color: #FF8C32;
    overflow: hidden;
    isolation: isolate;
    color: #EEEEEE;
    
  }


  .first-container, .second-container, .third-container{
    width: 100%;
    height: 35vh;
    position: relative;
    box-sizing: border-box;
    padding: 1rem 0;
  }

  .first-container::before{
    content: '';
    background-color: #06113C;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
    transform: skewY(5deg);
    z-index: -1;
  }

  .third-container::after{
    content: '';
    background-color: #06113C;
    position: absolute;
    top: 0;
    bottom: -300px;
    left: 0;
    right: 0;
    transform: skewY(-5deg);
    z-index: -1;
  }

  .second-container::before{
    content: '';
    background-color: #FF8C32;
    position: absolute;
    inset: 0;
    z-index: -2;
  }

  .skills > *{
    display: flex;
    align-items: center;
  }
  
  .skills h1{
    justify-content: center;
  }

  .skills-content{
    flex-flow: column wrap;
    display: flex;
    margin: 0 2rem 0 auto;
  }

  .skills-content-left{
    flex-flow: column wrap;
    display: flex;
    margin: 0 auto 0 2rem;
  }

  .lists{ 
    list-style: none;
    padding: 0;
    margin: 0;
  }

.footer{
    background-color: black;
    color: #B6EADA;

}

@media only screen and (max-width: 600px) {

    .skills-content {
        margin: 0;
      }
      .skills > *  {
        justify-content: center;
      }
      .contact-info p{
        margin: auto;
      }
  }


  .glass-container h1{
    height: 7.5em;
}